{% for block in section.blocks %}
    <div class="collection">
    {% if block.settings.image != blank %}
        <div class="image">
            <img src="{{ block.settings.image | img_url: "master" }}" alt="{{ block.settings.c_headline }}">
        </div>
    {% endif %}
        <div class="collection-info">
            <h3>{{ block.settings.c_headline }}</h3>
            {% if block.settings.c_text != blank %}
                <p>{{ block.settings.c_text }}</p>
            {% endif %}
                <div class="links">
                    {% if block.settings.button_link_1 != blank %}
                        <a href="{{ block.settings.button_link_1 }}">
                            {{ block.settings.button_label_1 }}
                        </a>
                    {% endif %}
                    {% if block.settings.button_link_2 != blank %}
                        <a href="{{ block.settings.button_link_2 }}">
                            {{ block.settings.button_label_2 }}
                        </a>
                    {% endif %}
                    {% if block.settings.button_link_3 != blank %}
                        <a href="{{ block.settings.button_link_3 }}">
                            {{ block.settings.button_label_3 }}
                        </a>
                    {% endif %}
                    {% if block.settings.button_link_4 != blank %}
                        <a href="{{ block.settings.button_link_4 }}">
                            {{ block.settings.button_label_4 }}
                        </a>
                    {% endif %}
                </div>
        </div>
    </div>
{% endfor %}

{% schema %}
{
  "name": "Collections - Homepage",
  "class": "index-section collections-section",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "collection",
        "name": "Collection",
        "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "c_headline",
            "label": "Headline"
        },
        {
            "type": "text",
            "id": "c_text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "button_link_1",
            "label": "Button Link 1"
        },
        {
            "type": "text",
            "id": "button_label_1",
            "label": "Button Label 1"
        },
        {
            "type": "url",
            "id": "button_link_2",
            "label": "Button Link 2"
        },
        {
            "type": "text",
            "id": "button_label_2",
            "label": "Button Label 2"
        },
        {
            "type": "url",
            "id": "button_link_3",
            "label": "Button Link 3"
        },
        {
            "type": "text",
            "id": "button_label_3",
            "label": "Button Label 3"
        },
        {
            "type": "url",
            "id": "button_link_4",
            "label": "Button Link 4"
        },
        {
            "type": "text",
            "id": "button_label_4",
            "label": "Button Label 4"
        }
        ]
    }
  ],
  "presets": [
    {
      "name": "Collections - Homepage",
      "category": "Collection"
    }
  ]
}
{% endschema %}